{%extends 'base.html'%}

{%block content%}
<table class="table table-bordered">
    <thead>
        <tr>
        <th>{{post.title}}</th>
        <th>{{post.text}}</th>
        <!-- <th>{{post.sana}}</th> -->
        <th>{{post.date}}</th>
        <th>
            {% if post.holati %}
                Bajarildi
            {% else %}
                Bajarilmadi
            {% endif %}
        </th>
        </tr>
    </thead>
</table>
<style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            padding: 10px;
            border: 1px solid black;
        }
    </style>
</div>

<p><a href="{% url 'post_update' post.pk %}">Postni yangilang</a></p>
<p><a href="{% url 'post_delete' post.pk %}">Postni o'chirish</a></p>
{%endblock content%}                                                        